*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: aqua;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card .icon i{
    font-size: 22px;
    margin: 15px;
}

.card {
    width: 270px;
    min-height: 450px; /* Minimum height rakho */
    background-color: white;
    border-radius: 18px;
    box-shadow: 1px 2px 5px 2px rgb(145, 144, 144);
    margin-top: 30px;
    margin-inline: 30px;
    padding: 20px; /* thoda space andar ke liye */
    box-sizing: border-box;
}
.card:hover{
    margin-top: 20px;
}

img{
    width: 67%;
    margin: 10px 20;
    margin-left: 26px;
}

.card .text{
    margin-left: 18px;
}

.text h2{
    font-size: 23px;
}

.text p{
    font-size: 15px;
    margin: 1px 5px;
}


.card .price{
    margin-left: 18px;
    padding-top: 6px;
    display: flex;
}
.price p{
    margin: 2px;
    font-size: 20px;
}

.card .color{
    margin-left: 18px;
    margin-top: 6px;
    display: flex;
}

.color p{
    margin: 5px;
    margin-top: 9px;
}
.color .blue{
    width: 17px;
    height: 17px;
    background-color: blue;
    border-radius: 50px;
    border: 2px solid black;
}

.color .red{
    width: 17px;
    height: 17px;
    background-color: red;
    border-radius: 50px;
}

.color .yellow{
    width: 17px;
    height: 17px;
    background-color: yellow;
    border-radius: 50px;
}

.card button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2px auto;
    margin-top: 18px;
    font-size: 20px;
    width: 210px;
    height: 40px;
    border: none;
    color: white;
    border-radius: 50px;
    background-image: linear-gradient(to right,rgb(54, 134, 235), rgb(119, 102, 182));
}

button:hover{
    font-size: 17px;
    box-shadow: 1px 2px 5px 2px rgb(145, 144, 144);
}